<mat-checkbox
    [checked]="check.checked()"
    (change)="check.checked.set($event.checked)"
    [style.opacity]="area().requirements() && check.available() ? 1 : 0.4"
>
    <span [class.checked]="check.checked()">{{ check.name }}</span>
</mat-checkbox>

<div style="position: relative">
    <button
        #itemCombobox
        type="button"
        role="combobox"
        aria-haspopup="true"
        [attr.aria-pressed]="showPopup()"
        (click)="onComboboxClick()"
        (contextmenu)="onComboboxRightClick($event)"
    >
        @if (check.item(); as item) {
            <img
                [attr.src]="item.checkImage"
                [attr.alt]="item.name"
            />
        } @else {
            ...
        }
    </button>

    <datalist
        #itemListbox
        [style.display]="showPopup() ? 'grid' : 'none'"
    >
        @for (obtainable of check.pool; track obtainable) {
            <div
                role="option"
                [attr.aria-selected]="obtainable === check.item()"
                (click)="select(obtainable)"
                [attr.title]="obtainable.name"
            >
                <img
                    [attr.src]="obtainable.checkImage"
                    [attr.alt]="obtainable.name"
                />
            </div>
        }
    </datalist>
</div>
