<div class="heading">
    <h2>{{ area().name }}</h2>
    <div class="stats">
        @if (area().availableChecks(world.songs); as count) {
            <div class="available songs">
                <span>{{ count }}</span>
            </div>
        }
        @if (area().availableChecks(world.items); as count) {
            <div class="available items">
                <span>{{ count }}</span>
            </div>
        }
    </div>
</div>

<mat-divider />

<div class="checks">
    @for (check of area().checks; track check.name) {
        <bridge-check [check]="check"></bridge-check>
    }
</div>
